# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Flask specific files
instance/
config.py
*.log

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
